<div id="black-friday-banner" class="bg-black flex flex-col sm:flex-row justify-between items-center p-2">
    <div class="flex gap-2 items-center px-4 sm:px-16">
      <p class="bg-yellow-400 text-lg sm:text-2xl px-4 py-2 transform rotate-2">Black</p>
      <p class="text-white text-lg sm:text-xl">Friday</p>
    </div>
    <div class="flex items-center gap-2 mt-2 sm:mt-0">
      <p class="text-sm text-white">Up to</p>
      <span class="text-yellow-400 text-3xl sm:text-4xl">59%</span>
      <p class="text-base sm:text-lg text-white">OFF</p>
    </div>
    <div class="flex items-center gap-2 mt-2 sm:mt-0">
    <button class="bg-yellow-400 font-bold px-4 sm:px-6 py-2 flex items-center gap-2 mt-2 sm:mt-0">
      Shop Now
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
    <button class="bg-[#073741] p-2 mt-2 sm:mt-0" onclick="document.getElementById('black-friday-banner').remove();">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 sm:h-5 sm:w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  </div>
