{% load static %}

<header class="fixed  top-4 left-1/2 transform -translate-x-1/2 bg-white rounded-b-2xl shadow-md w-11/12 md:w-5/12 lg:w-3/4 p-2 flex justify-between items-center z-50">
    <div class="flex items-center space-x-2">
        <a href="/"> <img src="{% static 'assets/logo-2.png' %}" alt="Logo" class="w-12 h-12"></a>
    </div>
    <nav id="menu1" class="mx-auto hidden md:flex md:space-x-3 lg:space-x-6">
        <a href="#" class="lg:text-lg md:text-sm hover:text-[#0D9488]">Home</a>
        <a href="#" class="lg:text-lg md:text-sm hover:text-[#0D9488]">Shop</a>
        <a href="#" class="lg:text-lg md:text-sm hover:text-[#0D9488]">Categories</a>
        <a href="#" class="lg:text-lg md:text-sm hover:text-[#0D9488]">Contact Us</a>
        <a href="#" class="lg:text-lg md:text-sm hover:text-[#0D9488]">About Us</a>
    </nav>
    <div class="flex space-x-4">
        <div class="w-8 h-8 bg-gray-300 hover:bg-[#0D9488] rounded-full flex items-center justify-center">
            <i class="fa fa-search text-black"></i>
        </div>
        <a href="{% url 'cart:cart' %}" class="relative group">
            <div class="w-8 h-8 bg-gray-300 hover:bg-[#0D9488] rounded-full flex items-center justify-center">
                <i class="fa fa-shopping-cart text-black"></i>
            </div>
                  {% if cart %}
      <span
        class="absolute -top-2 -right-3 bg-green-700 text-white rounded-full px-2 text-sm group-hover:bg-green-900 transition"
      >
        {{ cart|length }}
      </span>
      {% endif %}
        </a>
        <a href="{% url 'wishlist:wish-list' %}" class="relative group">
            <div class="w-8 h-8 bg-gray-300 hover:bg-[#0D9488] rounded-full flex items-center justify-center">
                <i class="fa fa-heart text-black"></i>
            </div>
        </a>
        <a href="{% url 'accounts:accounts' %}" class="relative group">
            <div class="w-8 h-8 bg-gray-300 hover:bg-[#0D9488] rounded-full flex items-center justify-center">
                <i class="fa fa-user text-black"></i>
            </div>
        </a>
    </div>
    <div class="md:hidden">
        <button id="menu-btn" class="text-black text-2xl"><i class="fa fa-bars"></i></button>
    </div>
</header>

    <div id="mobile-menu" class="bg-cover fixed left-0 w-full bg-white shadow-lg transform -translate-x-full transition-transform duration-300 md:hidden flex flex-col items-center p-6 z-50">
        <button id="close-menu" class="absolute top-4 right-6 text-3xl text-gray-700 hover:text-black"><i class="fa fa-times"></i></button>
        <nav class="flex flex-col items-center space-y-6 mt-12">
            <a href="#" class="lg:text-lg hover:text-[#0D9488]">Home</a>
            <a href="#" class="lg:text-lg hover:text-[#0D9488]">Shop</a>
            <a href="#" class="lg:text-lg hover:text-[#0D9488]">Categories</a>
            <a href="#" class="lg:text-lg hover:text-[#0D9488]">Contact Us</a>
            <a href="#" class="lg:text-lg hover:text-[#0D9488]">About Us</a>
        </nav>

</div>