{% extends 'core/base.html' %}

{% block title %}Cart{% endblock title %}

{% block content %}
{% include 'cart/style.html' %}

    {% if cart %}

           <div class="main-container">

             <div class="table-container">
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          <tr>
            <td>
              <img src="{{ item.product.media.first.file.url }}" alt="{{item.product.name}}" class="image is-64x64">
            </td>
            <td>
              <a href="{% url 'product:product-detail' item.product.id %}">{{ item.product.name }}</a>
            </td>
            <td>

              <a href="?change_quantity={{ item.id }}&quantity=-1"> <i class="fa fa-minus"></i></a>
                     {{ item.quantity }}
                <a href="?change_quantity={{ item.id }}&quantity=1" ><i class="fa fa-plus"></i></a>
            </td>
            <td>{{ item.total_price }} SAR</td>
            <td>
              <a href="?remove_from_cart={{item.id}}" class="button is-danger is-outlined">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3"><strong>Total Cost:</strong></td>
          <td colspan="2">{{ cart.get_total_cost }} SAR</td>
        </tr>
      </tfoot>
    </table>
  </div>


<form method="post" action="{% url 'order:place_order' %}" id="payment-form">
    {% csrf_token %}
    <div class="checkout-container">
        <!-- Address Section -->
        <div class="address-section">
            <h2 class="section-title">
                <i class="fas fa-map-marker-alt"></i>
                Delivery Address
            </h2>
            <div class="address-input-group">
                <input type="text" class="address-input" placeholder="Enter your delivery address" id="addressInput" name="addressInput" />
                <button class="location-btn" onclick="getCurrentLocation()">
                    <i class="fas fa-location-crosshairs"></i>
                </button>
            </div>
            <div class="address-details">
                <input type="text" id="street" placeholder="Street" name="street" />
                <input type="text" id="city" placeholder="City" name="city" />
                <input type="text" id="country" placeholder="Country" name="country" />
                <input type="text" id="postalCode" placeholder="Postal Code" name="postalCode" />
            </div>
        </div>
        <!-- Payment Section -->
        <div class="payment-section">
            <h2 class="section-title">
                <i class="fas fa-wallet"></i>
                Payment Method
            </h2>
            <div class="payment-options">
                <div class="payment-option" onclick="selectPayment('cod')">
                    <i class="fa fa-money"></i>
                    <div class="payment-option-title">Cash on Delivery</div>
                    <div class="payment-option-desc">Pay when you receive</div>
                    <input type="hidden" name="payment_method" value="cod" />
                </div>
                <div class="payment-option" onclick="selectPayment('bank')">
                    <i class="fa fa-university"></i>
                    <div class="payment-option-title">Bank Transfer</div>
                    <div class="payment-option-desc">Get invoice for payment</div>
                    <input type="hidden" name="payment_method" value="bank" />
                </div>
            </div>
        </div>
    </div>
    <button class="proceed-btn" type="submit">Place Order</button>
</form>

    {% else %}

    <p>You don't have any products in your cart.</p>

    {% endif %}
    <script src="https://js.stripe.com/v3/"></script>

{% include 'cart/script.html' %}
 </div>

{% endblock content %}




{% block scripts %}


{% endblock scripts %}