{% extends 'core/base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}
{% block content %}
{% include 'home/style.html' %}
{% include 'home/script.html' %}

<div class="m-0 ">
            <a id="slide-link" href="#" >
    <section id="bg-container"
             class="relative top-[-66px] bg-cover bg-center min-h-screen flex flex-col
             items-center rounded-3xl mt-2
             justify-center transition-all
             duration-700 w-[96%] mx-auto"
             style="background-image: url('{% static 'images/v84_120.png' %}');">


        <div class="absolute bottom-10 flex space-x-2">
            <div class="w-4 h-4 bg-teal-700 rounded-full cursor-pointer" onclick="changeBackground(0)"></div>
            <div class="w-4 h-4 bg-white rounded-full cursor-pointer" onclick="changeBackground(1)"></div>
            <div class="w-4 h-4 bg-white rounded-full cursor-pointer" onclick="changeBackground(2)"></div>
        </div>

    </section>
                </a>
    <div>
        <main class="p-10">
            <h2 class="text-4xl font-bold text-center">Explore Our Categories</h2>
        </main>
        {% include 'categories/categories.html' %}
        {% include 'products/featured_products/featured_products.html' %}
        {% include 'home/offers.html' %}
        {% include 'home/customer_say.html' %}
        {% include 'home/questions.html' %}
    </div>
</div>

{% endblock %}