<script>
    {% load static %}

    console.log("HELLO WORLD?....");

    function test() {
        console.log("TEST FUNCTION");
    }

    const slides = [
        {
            image: "{{ top_product.slide1_product.media.all.0.file.url|safe }}",
            link: "{% url 'product:product-detail' top_product.slide1_product.id %}",
            btntext: 'Shop Now',
            style: "bg-teal-700 text-white px-4 py-2 rounded"
        },
        {
            image: "{{ top_product.slide2_product.media.all.0.file.url|safe }}",
            link: "{% url 'product:product-detail' top_product.slide2_product.id %}",
            btntext: 'Shop Now',
            style: "bg-blue-500 text-white px-4 py-2 rounded"
        },
        {
            image: "{{ top_product.slide3_product.media.all.0.file.url|safe }}",
            link: "{% url 'product:product-detail' top_product.slide3_product.id %}",
            btntext: 'Shop Now',
            style: "bg-red-500 text-white px-4 py-2 rounded"
        }
    ];

    let currentIndex = 0;

    function changeBackground(index) {
        const bgContainer = document.getElementById('bg-container');
        bgContainer.style.backgroundImage = `url('${slides[index].image}')`;

        const anchorTag = document.getElementById('slide-link');
        anchorTag.href = slides[index].link;

        currentIndex = index;
        updatePagination();
    }

    function autoSlide() {
        currentIndex = (currentIndex + 1) % slides.length;
        changeBackground(currentIndex);
    }

    function updatePagination() {
        let dots = document.querySelectorAll("#bg-container div div");
        dots.forEach((dot, idx) => {
            dot.classList.remove("bg-teal-700");
            dot.classList.add("bg-white");
            if (idx === currentIndex) {
                dot.classList.remove("bg-white");
                dot.classList.add("bg-teal-700");
            }
        });
    }

    setInterval(autoSlide, 5000);

    function toggleAnswer(id) {
        let answer = document.getElementById(`answer-${id}`);
        let icon = answer.previousElementSibling.querySelector("span:last-child");

        if (answer.classList.contains("hidden")) {
            answer.classList.remove("hidden");
            icon.textContent = "-";
        } else {
            answer.classList.add("hidden");
            icon.textContent = "+";
        }
    }
</script>
