# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
*.db
*.sqlite3

# Ignore environment files
.env
.venv
venv/
ENV/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Other
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
.vscode
.idea