{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'core/head.html' %}
<body>
{% include 'header/header.html' %}
<div class="container mt-20">
    {% if messages %}
        <div class="messages" id="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} message">
                    <span>{{ message }}</span>
                    <button class="delete" onclick="closeMessage(this)">&times;</button>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

<section>
    {% block content %}
    {% endblock content %}
</section>
{% include 'footer/footer.html' %}

<script src="{% static 'js/main.js' %}"></script>
{% include 'core/script.html' %}
{% include 'core/style.html' %}
</body>

</html>