{% if top_sale4 %}
<div class="mt-12  md:px-0 grid grid-cols-1 gap-6">
  <!-- First Card -->
  <div class="bg-gradient-to-r from-blue-500 to-blue-700 flex flex-col md:flex-row justify-between items-center rounded-lg shadow-lg p-6 w-screen h-auto">
    <div class="flex flex-col items-center justify-center text-center md:text-left text-white">
      <p class="bg-yellow-400 px-4 py-2 rounded-full text-lg font-semibold">INTRODUCING</p>
      <h1 class="text-2xl md:text-3xl font-semibold mt-4">
        {{ top_sale4.name }}
      </h1>
      <p class="text-gray-100 text-base leading-snug mt-2">
        {{ top_sale4.description|slice:":30" }}
      </p>
      <a href="{% url 'product:product-detail' top_sale4.id %}" class="bg-orange-500 text-white font-bold px-6 py-3 mt-4 rounded-full flex items-center space-x-2 transform hover:scale-105 transition-all duration-300 ease-in-out shadow-lg hover:bg-[#d1641c]">
        <span>Shop Now</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
      </a>
    </div>
    <div class="mt-6 md:mt-0">
      <img src="{{ top_sale4.media.first.file.url }}" alt="Circle Graphic" class="w-full h-auto rounded-lg shadow-md transform hover:scale-105 transition-all duration-300 ease-in-out">
    </div>
  </div>
</div>
{% endif %}

{% if top_sale5 %}
<!-- Second Card -->
<div class="mt-12 md:px-0 grid grid-cols-1 gap-6">
  <div class="bg-gradient-to-r from-gray-800 to-black flex flex-col md:flex-row justify-between items-center shadow-xl p-6 w-screen h-auto text-white ">
    <div class="flex flex-col items-center justify-center text-center md:text-left">
      <p class="bg-yellow-400 px-4 py-2 rounded-full text-lg font-semibold">INTRODUCING</p>
      <h1 class="text-2xl md:text-3xl font-semibold mt-4">
        {{ top_sale5.name }}
      </h1>
      <p class="text-gray-300 text-base leading-snug mt-2">
        {{ top_sale5.description|slice:":30" }}
      </p>
      <a href="{% url 'product:product-detail' top_sale5.id %}" class="bg-[#FA8232] text-white font-bold px-6 py-3 mt-4 rounded-full flex items-center space-x-2 transform hover:scale-105 transition-all duration-300 ease-in-out shadow-lg hover:bg-[#d1641c] hover:text-white">
        <span>Shop Now</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
        </svg>
      </a>
    </div>
    <div class="relative mt-6 md:mt-0">
      <p class="absolute top-2 right-0 sm:bottom-0 sm:left-9 md:top-0 md:left-36 rounded-full bg-blue-500 text-white p-4 w-14 h-14 sm:w-10 sm:h-10 flex items-center justify-center text-lg font-semibold">$ {{ top_sale5.price }}</p>
      <img src="{{ top_sale5.media.first.file.url }}" alt="Mobile Graphic" class="w-full h-auto rounded-lg shadow-md transform hover:scale-105 transition-all duration-300 ease-in-out">
    </div>
  </div>
</div>
{% endif %}
