
  <style>
    .custom-scrollbar::-webkit-scrollbar { display: none; }


    .category_card{
      width: 205px;
      height: 237px;
    }
    @media (max-width: 768px)
    {
      .category_card{
        width: 100px;
        height: 100px;
      }
      .category_img{
        height: 60px;
      }
    }
  </style>

  <div class="mt-12 flex flex-col ml-2">
    <h2 class="text-xl font-semibold text-start md:text-center md:px-10">Categories</h2>

    <div class="relative">
      <div id="scrollContainer" class="flex overflow-x-scroll custom-scrollbar mt-3 md:px-10">
        <div class="flex gap-1">
          {% for category in categories %}
          <a href="{% url 'product:all-product' %}?filter={{ category.id }}{% if selected_filters %}&filter={{ selected_filters|join:'&filter=' }}{% endif %}" class="category_card flex flex-col items-center bg-white border border-gray-300 shadow-sm border hover:text-[#0B5C50]">
          {% if category.image %}
          <img src="{{ category.image.url }}" class=" category_img mb-2 w-full h-4/5 object-fit pl-1 pr-1" style="" />
          {% endif %}
          <p class="text:sm sm:text-lg text-center overflow-hidden">{{category.name}}</p>
          </a>
          {% endfor %}
        </div>
      </div>
      
    </div>

  </div>
  <script>
    const container = document.getElementById('scrollContainer');
    const cards = document.querySelectorAll('a');
    const pagination = document.getElementById('pagination');
    const cardsPerPage = 5;
    let currentPage = 0;

    function scrollCategories(direction) {
      const cardWidth = 120;
      container.scrollBy({
        left: direction * cardWidth,
        behavior: 'smooth'
      });
    }

    function updatePagination() {
      const totalPages = Math.ceil(cards.length / cardsPerPage);
      pagination.innerHTML = '';

      for (let i = 0; i < totalPages; i++) {
        const dot = document.createElement('div');
        dot.className = `h-2 w-2 rounded-full ${i === currentPage ? 'bg-[#0B5C50]' : 'bg-gray-300'}`;
        pagination.appendChild(dot);
      }
    }

    container.addEventListener('scroll', () => {
      currentPage = Math.round(container.scrollLeft / (120 * cardsPerPage));
      updatePagination();
    });

    updatePagination();
  </script>
