{% load custom_filters %}
<div class="relative bg-[#E9F0F1] rounded-2xl p-4 shadow-md ">
    <p class="text-gray-500 truncate" style="max-width: 100%;">{{ product.category.name }}</p>
    <a href="{% url 'product:product-detail' product.id %}">
        <h2 class="font-bold text-lg truncate" style="max-width: 100%;">{{ product.name }}</h2>
    </a>
    <div class="flex justify-center">
        {% for media in product.media.all %}
            {% if forloop.counter == 1 and media.file %}
                <img src="{{ media.file.url }}" alt="{{ media }}" class="w-32 h-32 object-cover mt-2 rounded-lg mix-blend-multiply">
            {% endif %}
        {% endfor %}
    </div>
    <p class="text-teal-600 font-bold text-lg text-center">SAR {{ product.price }}</p>
    {% include 'commons/addToCartButton.html' %}

    <!-- Heart Icon -->
    <div class="absolute top-2 right-2">
        {% if user.is_authenticated %}
            <i class="fa {% if product|is_in_wishlist:user %}fa-heart text-red-500{% else %}fa-heart-o text-gray-500{% endif %} text-xl wishlist-icon"
               data-product-id="{{ product.id }}"
               aria-hidden="true"></i>
        {% else %}
            <i class="fa fa-heart-o text-gray-500 text-xl" aria-hidden="true"></i>
        {% endif %}
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const wishlistIcons = document.querySelectorAll('.wishlist-icon');

        wishlistIcons.forEach(icon => {
            icon.addEventListener('click', function() {
                const productId = this.getAttribute('data-product-id');
                const isInWishlist = this.classList.contains('fa-heart');

                const url = isInWishlist ?
                    `{% url 'wishlist:remove_from_wishlist' 0 %}`.replace('0', productId) :
                    `{% url 'wishlist:wish-list-create' 0 %}`.replace('0', productId);

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',  // Include CSRF token for security
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Reload the page to reflect the updated wishlist status
                        location.reload();
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    });
</script>